[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
"aws-cdk.aws-kinesisfirehose" = "*"
"aws-cdk.aws-s3" = "*"
"aws-cdk.core" = "*"
"aws-cdk.cx-api" = "*"
"aws-cdk.aws-kinesisfirehose-destinations" = "*"
"aws-cdk.aws-glue" = "*"
mypy-boto3-organizations = "*"
mypy-boto3-ssm = "*"
cachetools = "==v4.2.4"

[dev-packages]
black = "*"
ipdb = "*"
pytest = "*"
pytest-flakes = "*"
pytest-black = "*"
pytest-cov = "*"
moto = {extras = ["firehose", "sts"], version = "*"}
boto3-stubs = {extras = ["firehose", "s3", "sts", "organizations"], version = "*"}

[requires]
python_version = "3.8"

[scripts]
black-check = "black --check ."
pytest = "pytest --black --flakes --junitxml=test-results/junit.xml --cov=dc_logging_client"
