[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-kinesisfirehose" = "*"
"aws-cdk.aws-s3" = "*"
"aws-cdk.core" = "*"
"aws-cdk.cx-api" = "*"
"aws-cdk.aws-kinesisfirehose-destinations" = "*"
"aws-cdk.aws-glue" = "*"
cachetools = "==v5.2.0"
wheel = "==0.38.4"

[dev-packages]
boto3 = ">=1.20,<1.30"
mypy-boto3-organizations = "*"
mypy-boto3-ssm = "1.26.97"
black = "23.3.0"
ruff = "==0.0.261"
ipdb = "*"
pytest = "7.2.2"
pytest-flakes = "*"
pytest-black = "*"
pytest-cov = "*"
moto = {extras = ["firehose", "sts"], version = "4.1.6"}
boto3-stubs = {extras = ["firehose", "s3", "sts", "organizations"], version = "1.26.112"}

[requires]
python_version = "3.8"

[scripts]
black-check = "black --check ."
ruff-check = "ruff ."
pytest = "pytest --black --flakes --junitxml=test-results/junit.xml --cov=dc_logging_client"
